body {
    background-color: rgb(255, 167, 233);
}

h1 {
    font-family: "gloridot", sans-serif;
font-weight: 400;
font-style: normal;
}

h2{
    font-family: "pf-videotext", sans-serif;
font-weight: 400;
font-style: normal;
}